
<button {{action "toggle"}}>
  {{if canShow "Hide" "Show"}}
</button>

{{#if canShow}}
  {{#each data as |datum index|}}
    <div class="item">
      {{index}}
    </div>
    <div class="issue-desc">
      {{datum.text}}
    </div>
  {{/each}}
{{/if}}